// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new{
	padding-bottom: 20px;
	float:right;
}
#show{
	font-family: Lato, Futura, 'Trebuchet MS', Arial, sans-serif;
	color: #333;
}