// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
	box-sizing: border-box;
}
/****** body ******/
 body{
 	background-color: #4F5B66;
 }
 h1{
 	text-transform: uppercase;
 }
 h1,
 h2{
 	text-align: center;
 	color: #c0c5ce;
 	font-family: Tillana, Helvetica, Arial, sans-serif;
}
h2{
	padding-bottom: 10%;
}
p{
	text-align: center;
	color: white;
	font-size: 20px;
}
/** index**/
.body {
	margin: auto;
	position: relative;
}
.my-image{
	margin: 0 auto;
}
/** navbar **/
.navbar-brand{
	text-transform: uppercase;
	text-shadow: 20%;
	font-weight: 800;
	color: black;
}
/** main area **/
.main-area{
	margin-bottom: 100px;
}
/** Footer **/
.copyright{
	width:100%;
	font-weight: 500;
	background-color:#343d46;
	text-align: right;
	color: white;
  	padding-left: 15px;
  	padding-right: 15px;	
}