<p id="notice"><%= notice %></p>
<div class="row">
  <h1>Products</h1>
  <%= render @products %>
  </div><!-- /row -->
  <br>
  <span class="btn-create"><%= link_to 'NEW PRODUCT', new_product_path %></span>
<br>